
$white: #FFFFFF;
$black: #303841;
$gray: #777777;
$yellow: #F6C90E;
$yellow-hover: #f8d43f;

.fw-700 {
    font-weight: 700;
}

.display-none {
    display: none;
}

.sm-btn {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.yellow-btn-hover {
    background-color: $yellow-hover;
    box-shadow: -2px 2px 10px rgba($color: $gray, $alpha: 0.2);
    cursor: pointer;
    transition: ease 0.2s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    color: $black;
    position:relative;
    overflow: hidden;
    
    .main {
        position: relative;
        height: 100vh;
        width: 800px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }

    &::before {
        content: '';
        background-color: $yellow;
        position: fixed;
        height: 100%;
        width: 300%;
        border-radius: 100%;
        top: 45%;
        left: -70%;
        transform: rotate(-5deg);
        animation-name: wave;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
}

.holder {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 600px;
    padding: 0 28px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: $white;
    overflow: hidden;
    position: relative;
    
    & > div {
        position: relative;
    }

    &-top {
        
        height: 26px;
        margin-top: 12px;
        img {
            width: 50px;
        }
    }

    &-title {
        height: 28px;
        margin: 16px 0;
        font-size: 24px;
        @extend .fw-700;
    }

    &-body {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &::before {
        content: '';
        background-color: $yellow;
        position: absolute;
        height: 40%;
        width: 65%;
        border-radius: 100%;
        top: -10%;
        left: -30%;
    }
}

.product {
    padding: 40px 0;

    &:first-child {
        padding-top: 0;
    }

    @each $item, $bg-color in (1: #e1e7ed, 2: #4D317F, 3: #E8D026, 4: #FD584A, 5: #D4D7D6, 6: #F2F5F4, 7: #22AFDC, 8: #B50320, 9: #3569A1, 10: #54D4C9) {
        &#product-#{$item} {
            .product-image {
                background-color: $bg-color;
            }    
        }
    }

    &-image {
        height: 380px;
        border-radius: 30px;
        img {
            width: 100%;
            transform: rotate(-22deg);
            position: relative;
            right: 20px;
            filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
        }
    }

    &-name {
        margin: 26px 0 20px;
        font-size: 20px;
        @extend .fw-700;
    }

    &-intro {
        margin-bottom: 20px;
        font-size: 13px;
        color: $gray;
        line-height: 1.8;
    }
    
    &-price {
        font-size: 18px;
        @extend .fw-700;
    }

    &-add-btn {
        width: auto;
        background-color: $yellow;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 50px;
        @extend .fw-700;

        &:hover {
            @extend .yellow-btn-hover;
        }

        img {
            display: none;
        }
    }

    .checked {
        pointer-events: none;
        padding: 12px 14px;

        img {
            width: 20px;
        }
    }
}

.cart-empty {
    padding: 14px 0;
    font-size: 14px;
}

.cart-item {
    padding: 20px 0; 

    .item-img {
        width: 90px;
        height: 90px;
        background-color: #e1e7ed;
        border-radius: 50%;
        position: relative;
        animation: appear-from-center 0.35s;

        img {
            width: 144%;
            transform: rotate(-26deg);
            position: absolute;
            top: -36px;
            left: -20px;
            filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
        }
    }

    .item-status {
        width: 180px;
        animation: appear-from-right .45s;

        .item-name {
            font-size: 14px;
            margin-bottom: 10px;
            @extend .fw-700;
            animation: appear-from-right .45s;
        }

        .item-price {
            font-size: 20px;
            margin-bottom: 16px;
            @extend .fw-700;
            animation: appear-from-right .48s;
        }
    }
}

.item-qtt {
    height:28px;
    text-align: center;

    &-dec, &-inc {
        background-color: #eee;
        @extend .sm-btn;

        img {
            text-align: center;
            width: 33%;
        }

        &:hover {
            background-color: #ddd;
            cursor: pointer;
            transition: ease-in-out 0.2;
        }
    }

    &-num {
        width: 20px;
        margin: 0 8px;
        font-size: 14px;
    }
}

.item-remove-btn {
    background-color: $yellow;
    @extend .sm-btn;

    &:hover {
        @extend .yellow-btn-hover;
    }

    img {
        width: 60%;
    }
}

.img-holder {
    display: none;
}

@keyframes wave {
    from {
        top: 45%;
        right: 0;
    }
    to {
        top: 55%;
        right: 10%;
    }
}

@keyframes appear-from-center {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes appear-from-right {
    from {
        right: -20px;
        opacity: 0.2;
    }
    to {
        right: 0;
        opacity: 1;
    }
}